  .navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 80%);
  }
  .nav-link {
    color: rgb(255 255 255 / 80%);
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255 255 255);
  }
  .nav-link:hover {
    color: rgb(255 255 255);
  }
html,body {
  font-family: 'Roboto', sans-serif;
  table-layout:fixed;
  text-align: center;
  margin-top:0px !important;
  margin-bottom:0px !important;
  color:#666666;
  background-color: #FFFFFF;
  height: auto;
  /*background-color: #E0E0E0 !important;*/
  
}

#page_wrapper {
  text-align: left;  
  margin-left: auto;
  margin-right: auto;
  min-width: 1024px;
  max-width: 100%;  
  background: #FFFFFF;
  padding: 0px;
  height: auto;
}


#footer {
  line-height: 20px;
  text-decoration: none;
  padding: 2px 10px 0px 10px;
  height: 45px;
  color: white;
  background: #0277BD;
}

#footer-left {
  float:left;
}

#footer-right {
  float:right;
}

#footer a {
  color: white;
  text-decoration: none;
}

#footer a:hover, a:active {
  color: #0091EA;
}

#sb-site {
  min-height: 90%;
  height: auto !important; 
  /*height: 100%;            /*min-height hack*/
  /*min-height: 600px;
  height: 85%;*/
  
}

#adverts {
	margin-top: 20px;
}

.advert {
	border-radius: 3px;
	border: 1px solid #727272;
	margin-bottom: 10px;
	padding: 3px;
}

.onco-label {
  color:#008B8B;
  font-weight: bold;
}

.badge {
    font-size: 100%;
}

.popover-body {
    top:0px;
    height: 500px;
    overflow-y: auto;
 }


.w2ui-popup {
    z-index: 9999;
}

.btn-info:focus,
.btn-info:active,
.btn-info:active {
    background-color: white;
    border-color: #000000;
    color: #fff;
}

.navbar {
  padding:  0rem;
}


